body {
    margin: 0;
}
h4 {
    margin: 0;
    font-size: 0.32rem;
}
li {
    list-style-type: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
/*
    以上
*/
#container {
    margin: auto;
    width: 9.8rem;
    padding: 0.1rem 0.1rem;
    background-color: #15784b;
}
/*空当区*/
#spaceSeat {
    width: 50%;
}
/*安置区*/
#placementSeat {
    width: 50%;
}
.seat {
    border: 0.05rem solid #40a57a;
    background-color: #15784b;
    border-radius: 0.1rem;
    position: relative;
    width: 1rem;
    height: 1.7320rem;
}
.spaceSeat {
    margin-right: 0.1rem;
}
.placementSeat {
    margin-left: 0.1rem;
}
/*操作区*/
#operatingSeat {
    padding-top: 0.15rem;
    padding-left: 0.15rem;
}
#operatingSeat > div {
    margin-right: 0.1rem;
}
.seat.spade::before, .seat.heart::before, .seat.club::before, .seat.diamond::before {
    display: block;
    text-align: center;
    line-height: 1.63rem;
    color: #40a57a;
}
.spade::before {
    content: '♠';
}
.heart::before {
    content: '♥';
}
.club::before {
    content: '♣';
}
.diamond::before {
    content: '♦';
}
/*
    以上
*/
/*牌*/
.card {
    border: 0.03rem solid;
    border-radius: 0.1rem;
    position: absolute;
    background-color: white;
    width: 1rem;
    height: 1.73rem;
    left: -0.03rem;
}